.Display {
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: gainsboro;
  /* flex-direction:column; */
  width: 620px;
}
.DisplayPositivo {
  background-color: rgb(137, 238, 137);
}
.DisplayNegative {
  background-color: rgb(196, 66, 66);
  color: white;
}
.DisplayIzquierda {
  display:flex;
  flex-direction: column;
  margin-right: 10px;
}
.DisplayDerecha {
  display:flex;
  flex-direction:column;
  
}
.Botonera {
  display: flex;
  justify-content: center;
  width: 500px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
}
.BotoneraArriba {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 60%;
  justify-content: space-between;
}

.BotoneraAbajo {
  display: flex;
  width: 100%;
  height: 40%;
}
.Arriba {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-between;
}
.Abajo {
  display: flex;
  height: 50%;
  justify-content: space-between;
}
.Izquierda {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: space-evenly;
}
.igual {
  display: flex;
  width: 122px;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgb(206, 144, 30);
}
.igual:hover {
  cursor: pointer;
  background-color: rgb(151, 98, 0);
}
.boton {
  width: 122px;
  background-color: gainsboro;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}
.boton:hover {
  background-color: rgb(136, 128, 128);
  cursor: pointer;
}
.boton:active {
  background-color: black;
}
.botonOp {
  width: 122px;
  background-color: rgb(141, 129, 129);
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  height: 42px;
}
.botonOp:hover {
  background-color: rgb(66, 65, 65);
}
.botonOp:active {
  background-color: black;
}
.botonArriba {
  width: 123px;
  background-color: gainsboro;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  height: 42px;
}
.botonArriba:hover {
  background-color: rgb(136, 128, 128);
  cursor: pointer;
}
.botonArriba:active {
  background-color: black;
}

.botonAbajo {
  width: 66%;
  background-color: gainsboro;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  height: 42px;
}
.botonAbajo:hover {
  background-color: rgb(136, 128, 128);
  cursor: pointer;
}
.botonAbajo:active {
  background-color: black;
}
.calculadora {
  width: 700px;
  height: 400px;
}
.BotoneraAdv {
  width: 124px;
  height: 220px;
  display: flex;
  justify-content: center;
  width: 500px;
  flex-wrap: wrap;
 
  margin-top: 5px;
  flex-direction: column;
}
.keyboard {
  display: flex;
  height: 225px;
}
.BotoneraAdv {
  width: 200px;
  height: 220px;
}
.cursor{
  cursor:pointer
}